/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body {
  font-family: 'Baloo Chettan 2', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 48px !important;
}
